@model BlueModas.Web.ViewModel.InicioViewModel
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>PRODUTO</th>
                            <th>NOME</th>
                            <th class="text-center">PREÇO UNITÁRIO</th>
                            <th class="text-center">QUANTIDADE</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Carrinho != null)
                        {
                            foreach (var item in Model.Carrinho.ItemDoCarrinho)
                            {
                                <tr>
                                    <td class="image" data-title="No"><img src="@item.Produto.Imagem" width="100" height="100" alt="#"></td>
                                    <td class="product-des" data-title="Description">
                                        <p class="product-name"><a href="#">@item.Produto.Nome</a></p>
                                    </td>
                                    <td class="price" data-title="Price"><span>R$ @item.Produto.Preco </span></td>
                                    <td class="qty" data-title="Qty">
                                        <!-- Input Order -->
                                        <div class="input-group">
                                            <form asp-action="RemoverQuantidadeDeItem" method="post">
                                                <input type="hidden" name="produtoId" value="@item.Produto.Id" />
                                                <div class="button minus">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="ti-minus"></i>
                                                    </button>
                                                </div>
                                            </form>

                                            <form asp-action="AdicionarQuantidadeDeItem" method="post">
                                                <input type="hidden" name="produtoId" value="@item.Produto.Id" />
                                                <input type="text" name="quant[@item.Produto.Id]" class="input-number" data-min="1" data-max="100" value="@item.Quantidade">
                                                <div class="button plus">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="ti-plus"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <!--/ End Input Order -->
                                    </td>
                                    <td class="total-amount" data-title="Total"><span>R$ @item.CalcularValorPorItem()</span></td>
                                    <td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Enter Your Coupon">
                                        <button class="btn">Apply</button>
                                    </form>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Shipping (+10$)</label>
                                </div>
                            </div>
                        </div>
                        @if (Model.Carrinho != null)
                        {
                            <div class="col-lg-4 col-md-7 col-12">
                                <div class="right">
                                    <ul>
                                        <li>Subtotal<span>R$ @Model.CalcularPrecoTotalDoCarrinho()</span></li>
                                        <li>Envio<span>Grátis</span></li>
                                        <li>Descontos<span>R$ 00.00</span></li>
                                        <li class="last">Total<span>R$ @Model.CalcularPrecoTotalDoCarrinho()</span></li>
                                    </ul>
                                    <div class="button5">
                                        <a href="@Url.Action("FinalizarCompra","Carrinho")" class="btn">Efetuar Pagamento</a>
                                        <a href="@Url.Action("Index", "Home")" class="btn">Continue Comprando</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->